page-manual-transaction {
    .nav-buttons {
        margin: auto;
    }
    #first {
        margin-left: 5px;
    }
    #cancel {
        margin-left: 5px;
    }
    #send-button {
        border-radius: 15px;
    }
}
